body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0;
    color: #424242;
}

main {
    margin: 0 auto;
    width: 800px;
}

img {
    width: 100%;
}

h1 {
    background-image: url('images/h-logo.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center left;
    font-size: 3rem;
    padding-left: 55px;
    margin: 100px 0 25px 0;
    color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.single {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 500px;
    border-radius: 20px;
}

.picbig {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 500px;
    border-radius: 20px;
}

.row1 {
    display: flex;
    gap: 25px;
}

.row1 section {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    border-radius: 20px;
    margin-top: 25px;
}

.pic1 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}

.pic2 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}

.pic3 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}
.pic4 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}
.pic5 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}
.pic6 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}
.pic7 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}
.pic8 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}
.pic9 {
    background: no-repeat bottom / cover url('images/mac.jpg');
    height: 250px;
    border-radius: 20px;
}