body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0;
    color: #424242;
}

main {
    margin: 0 auto;
    width: 800px;
}

img {
    width: 100%;
}

h1 {
    background-image: url('images/hawaiilogo.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center left;
    font-size: 3rem;
    padding-left: 55px;
    margin: 100px 0 25px 0;
    color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.picbig {
    background: no-repeat bottom / cover url('images/1.jpeg');
    height: 1000px;
    border-radius: 10px;
}
.row1 .photoformat2 {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    border-radius: 10px;
    margin-top: 25px;
}

.row1 .words {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    border-radius: 10px;
}

.row1 {
    display: flex;
    gap: 25px;
}

.row1 .photoformat {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    border-radius: 10px;
    margin-top: 25px;
}

.pic1 {
    background: no-repeat bottom / cover url('images/1.jpeg');
    height: 250px;
    border-radius: 10px;
}

.pic2 {
    background: no-repeat bottom / cover url('images/2.jpeg');
    height: 250px;
    border-radius: 10px;
}

.pic3 {
    background: no-repeat bottom / cover url('images/3.jpeg');
    height: 250px;
    border-radius: 10px;
}
.pic4 {
    background: no-repeat bottom / cover url('images/4.jpeg');
    height: 250px;
    border-radius: 10px;
}
.pic5 {
    background: no-repeat bottom / cover url('images/5.jpeg');
    height: 250px;
    border-radius: 10px;
}
.pic6 {
    background: no-repeat bottom / cover url('images/6.jpeg');
    height: 250px;
    border-radius: 10px;
}
.pic7 {
    background: no-repeat bottom / cover url('images/7.jpeg');
    height: 250px;
    border-radius: 10px;
}
.pic8 {
    background: no-repeat bottom / cover url('images/8.jpeg');
    height: 250px;
    border-radius: 10px;
}
.pic9 {
    background: no-repeat bottom / cover url('images/9.jpeg');
    height: 250px;
    border-radius: 10px;
}